<template name="Home">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Philip</td>
      <td>Johnson</td>
      <td>1680 East-West Rd., Honolulu, Hi.</td>
      <td>808-956-3489</td>
      <td>johnson@hawaii.edu</td>
    </tr>
    <tr>
      <td>Bob</td>
      <td>Bobby</td>
      <td>1234 East-West Rd., Honolulu, Hi.</td>
      <td>808-956-1111</td>
      <td>bobbyb@hawaii.edu</td>
    </tr>
    <tr>
      <td>Steve</td>
      <td>Stevie</td>
      <td>5678 East-West Rd., Honolulu, Hi.</td>
      <td>808-956-abcd</td>
      <td>stevies@hawaii.edu</td>
    </tr>

    </tbody>
  </table>
</template>
