body {
  padding-top: 0px;  /* Move body of page below navbar. */
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #2E3676;
}
a{
  color: white;
}
button.btn.btn-primary{
  background-color: #FCD116;
  border: 0;
  color: black;
}
#headerimage{
  height: 250px;
  width: 100%;
}

.navbar-inverse{
  background-color: #28233E;
  border-color: #28233E;
  color: white;
  border-radius: 0px;
}
a.dropdown-toggle{
  color: white;
}
.navbar-inverse .navbar-brand{
  color: white;
}

.well{
  background-color: black;
  border:0;
}
legend {
  color: white;
}
