<template name="ListContact">
  {{#IfLoggedIn}}
    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        {{#each contactList}}
          <tr>
            <td>{{first}}</td>
            <td>{{last}}</td>
            <td>{{address}}</td>
            <td>{{phone}}</td>
            <td>{{email}}</td>
            <td><a href="{{pathFor 'EditContact'}}">Edit</a></td>
          </tr>
        {{/each}}
        </tbody>
      </table>

    </div>
  {{/IfLoggedIn}}
</template>
